@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

/* Additional Reset Styles */
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Style*/

header{
    margin:0 auto;
    max-width:750px;
    width:100%;
    margin: 0 auto;
}

.div-show-hide,.div-show-hide-from, #vai-identificar-form{
  width: 100%;
  display: contents;
}

h2{
  font-weight: 700;
}

h2.subtitle{
  margin: 15px 0;
  width: 100%;
}

.subtitle-number{
  margin: 25px 0;
  display: block;
  width: 100%;
}

.subtitle-number *{
  display: inline-block;
  
}

.subtitle-number span{
   margin-right: 5px;
   font-weight: 300;
}

.subtitle-number span::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #7bb79d;
  margin: 18px 0 0 5px;
}

.subtitle-number h2{
  border-bottom: 2px solid #7bb79d;
  padding-bottom: 5px;
}

hr {
  width: 100%;
  background: #e5e7eb;
  border: 0;
  height: 1px;
}

.checkbox{
  padding-top: 15px;
}

 .checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #93b69f;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #93b69f;
}

.checkbox label span {
  margin-left: 6px;
  margin-top: 5px;
  display: block;
  font-weight: 300;
}

#que_seria_manifestacao .radio-group{
  display: inline-flex;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  flex: none;
  margin: 0 10px;
}

input[type="radio"]:checked {
  border-color: #90B79F; 
}

input[type="radio"]:checked + label{
  font-weight: 700;
}

input[type="radio"]:checked + label::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #7bb79d;
  border: 0;
  margin-right: 0px;
  vertical-align: middle;
  position: absolute;
  margin-left: -21px;
  margin-top: 4px;
}

.radio-group-identify{
  font-weight: 700;
  display: table;
  border: 1px solid #e5e7eb;
  min-height: 200px;
}

.radio-group{
  display: flex;
  font-weight: 100;
  margin: 0 5px  5px  0;
  align-items: flex-start;
}

.radio-group-identify h2{
  text-align: center;
  text-transform: uppercase;
}
.radio-group-identify p {
  margin: 10px 25px 20px;
  font-weight: 500;
  display: block;
}
.radio-group-identify.checked {
  background-color:#90B79F;
  color: #fff;
}

.radio-group-identify input{
  margin-top: 10px;
}

.radio-group-identify.checked input[type="radio"]:checked {
  border-color: #fff; 
}

.radio-group-identify.checked input[type="radio"]:checked + label::before {

background-color: #fff;

margin-left: -21px;

margin-top: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width:750px;
    width:100%;
    margin: 0 auto;
  }
  
  .c-3 {
    flex-basis: 33.33%;
    padding: 10px;
    box-sizing: border-box;
  }
  .c-6 {
    flex-basis: 66.66%;
    padding: 10px;
    box-sizing: border-box;
  }
  .c-12 {
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .form-group{
    align-content: flex-end;
    display: grid;
  }

  .form-group .label{
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .form-group input[type='text'],.form-group textarea,.form-group select, .form-group input[type='date']{
    font-weight: 500;
    width: 100%;
    font-size: 16px;
    border: 1px solid #90B79F;
    color: #666;
  }

  .form-group input[type='text'], .form-group input[type='email'], .form-group input[type='tel'],.form-group select, .form-group input[type='date']{
    border: 0px;
    border-bottom: 1px solid #90B79F;
    width: 100%;
  }

  #aviso-obrigatoriedade{
    text-align: right;
    font-size: 14px;
  }

  #natueza_solicitacao_radio .radio-group{
    margin-bottom: 20px;
  }

   /* Tooltip styles */
   .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 25px;
  }

  .tooltip::before {
      content: "?";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: #90B79F;
      border: 0;
      border-radius: 100%;
      text-align: center;
      padding: 2px;
      color: #fff;
      font-weight: 700;
      left: 0;
      margin-top: -2px;
  }

  .tooltip * {
    cursor: pointer;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #90B79F;
    color: #fff;
    text-align: left;
    padding: 10px;
    line-height: 20px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 300;
    max-width: 400px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltiptext::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #90B79F;
    border: 0;
    position: absolute;
    margin-left: 20px;
    margin-top: -15px;
    transform: rotate(45deg);
  }

  button {
    background: #81b69d;
    color: white;
    border: 0;
    padding: 10px;
    cursor: pointer;
  }
  button:hover {
    background: #fff;
    color: #81b69d;
    border: 1px solid #81b69d;
  }

.text-right{
  text-align: right;
}
  
.required{
  background: #92bad1;
  display: table !important;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.required::after{
  content: 'obrigatório';
  position: absolute;
  right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 3px;
  color: #ffffff;
  text-shadow: 0px 2px #6b1b1b;
}
  
  
  @media screen and (max-width: 768px) {
    .c-3, .c-6 {
      flex-basis: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .c-3, .c-6 {
      flex-basis: 100%;
    }
  }